canvas{
    position: relative;
    top:50px;
    left: 15%;
    background-image: url("wall.jpg");
    background-size: cover;   
    animation: mymove 0.25s infinite alternate;
    opacity: 0.8;
}
body{
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed; 
    background-image: url("giphy.gif");
}
h2{
	text-align: center;
    color: white;
}
@keyframes mymove {
    from {box-shadow: 0px 0px 27px 2px rgb(28,25,43);}
    to {box-shadow: 0px 0px 27px 30px rgb(147,141,181);}
  }